*{
box-sizing: border-box;
}

#contenedor{
border:5px solid red;
}

body{
background-image: url("img/jpg.jpg");
}
#cabecera{
    background-color:hsl(209.268, 51.037%, 52.745%);
    padding:10px;
}

.izquierda{
    float:left;
    width:20%;
    margin:0px auto;
    padding:20px;
    background-color:rgba hls(299.45, 96.46%, 22.157%);
    height:100%;
    margin-top:2%;
}

.cuerpo{
    height:100%;
    margin-top:2%;
    padding:20px;
    background-color: rgba(5,100,50,.7);
}

.derecha{
    background-color: rgba(10,3,100,.7);
    float:left;
    width:20%;
    margin:0px auto;
    padding:20px;
    height:100%;
    margin-top:2%;
    text-align:center;
}

#pie{
    background-color: rgba(5,15,100,0.5);
    text-align:center;
    padding:10px;
    margin-top:2%;
}

@media only screen and (max-width:600px){
    .derecha, .cuerpo, .izquierda{
        width:100%;
    }
}

#alinear{
    display:flex;
}

#scroll{
    overflow:auto;
}